<footer class="text-sm text-center border-t border-gray-500 {{ if .IsHome }} bg-gray-200 dark:bg-dark rounded-b-lg py-2 {{ else }} py-6 {{ end }}">
  <p class="markdownify">{{ .Site.Params.copyright | markdownify }}</p>
  <p {{ if not .Site.Params.theme.showAttribute }}style="font-size:0px;"{{ end }}>
    <i>
      <a href="https://github.com/darshanbaral/aafu">aafu</a>
    </i>
    by
    <a href="https://www.darshanbaral.com/">darshan</a>
  </p>

  {{ if .Site.Params.theme.singlePage }}
  <i
    class="bi bi-brightness-high theme-toggle text-blue-500 hover:text-blue-700 dark:text-yellow-300 dark:hover:text-yellow-500 cursor-pointer text-lg mr-9 sm:mr-0"
    onclick="toggleTheme()"
  ></i>
  {{ partial "toggleTheme.html" . }}
  {{ end }}

  <p id="visitor-count" class="mt-2 text-blue-600 dark:text-yellow-300 font-semibold">
    Carregant visites...
  </p>

  <script src="/js/api_url.js"></script>
  <script>
  	async function updateVisitorCount() {
	const counterElement = document.getElementById("visitor-count");
    	try {
      	const cvId = "default";
      	if (typeof window.API_URL === 'undefined') {
        	console.error("Error: window.API_URL no està definit.");
        	counterElement.innerText = "Error config";
        	return;
      	}
      	const response = await fetch(`${window.API_URL}?cv_id=${cvId}`);
      
      	if (!response.ok) {
        	throw new Error(`Error API: ${response.status}`);
      	}
      
      	const data = await response.json();
      	counterElement.innerText = `Visites: ${data.visits}`;
      
    	} catch (error) {
      	console.error("Error obtenint visites:", error);
      	counterElement.innerText = "Visites: ...";
    	}
  	}
  	document.addEventListener("DOMContentLoaded", updateVisitorCount);
  </script>
</footer>
